* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Dela Gothic One', cursive;
	color: rgb(240,240,240);
}

body {
	background-color: rgb(240,240,240); 
}

.container {
	display:flex;
	align-items: center;
	justify-content:space-between;
	height:70px;
	background-color: #171717;
	padding: 30px;
}

.logo {
	height:50px;
}

.nav-link {
	display:flex;
	list-style: none;
	justify-content: space-between;
}

.nav-link a {
	text-decoration: none;
	display:block;
	padding:20px;

}

.nav-link a:hover {
	background: rgba(100,100,100,0.5);
	transition: 0.8s;

}